@font-face{
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body{
    background-color: #cff0fb;
    font: 17px/25px Arial, Helvetica, sans-serif;
}

nav{
    background-color: #a6e2f8;
    text-align: center;
}

h2{
    color: #0097e6;
    font: 25px/40px Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header{
    background_color: #0097e6;
    text-align: center;
}

#intro{
    text-align: center;
    font-weight: bold;
}

main{
    text-align: center;
    font-weight: bold; 
}

nav li{
    list-style-type: none;
}

nav li > a{
    color: #0097e6;
}

a:link{
    font-size: 20px;
    text-decoration: none;
    color: #0097e6;
}

a:visited{
    color: #111111;
}

a:hover{
    font-weight: bold;
}

